<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="0; <!DOCTYPE html>
<html>

<head>
    <meta http-equiv=" refresh"
        content="0; https://docs.google.com/forms/d/e/1FAIpQLSef2lwWieEywrniLRHEGz54ymB2abnf-0voTufW0Tx4PA-raQ/viewform?usp=sharing&ouid=109894263633912195343">
</head>

<body>
    <p>Sedang mengalihkan ke formulir... <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSef2lwWieEywrniLRHEGz54ymB2abnf-0voTufW0Tx4PA-raQ/viewform?usp=sharing&ouid=109894263633912195343">Klik
            di sini jika tidak otomatis.</a></p>

    <script>
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSef2lwWieEywrniLRHEGz54ymB2abnf-0voTufW0Tx4PA-raQ/viewform?usp=sharing&ouid=109894263633912195343";
    </script>
</body>

</html>">
</head>

<body>
    <p>Sedang mengalihkan ke formulir... <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSef2lwWieEywrniLRHEGz54ymB2abnf-0voTufW0Tx4PA-raQ/viewform?usp=sharing&ouid=109894263633912195343">Klik
            di sini jika tidak otomatis.</a></p>

    <script>
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSef2lwWieEywrniLRHEGz54ymB2abnf-0voTufW0Tx4PA-raQ/viewform?usp=sharing&ouid=109894263633912195343";
    </script>
</body>

</html>