<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh"
        content="0; url=https://docs.google.com/forms/d/e/1FAIpQLSfIUWV_m4NIZ-eH6vJShxZgV2QvIMbxhg6rt8OmbhQAINwQSg/viewform?usp=header">
</head>

<body>
    <p>Sedang mengalihkan ke formulir... <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfIUWV_m4NIZ-eH6vJShxZgV2QvIMbxhg6rt8OmbhQAINwQSg/viewform?usp=header">Klik
            di sini jika tidak otomatis.</a></p>

    <script>
        window.location.href = "https://docs.google.com/forms/d/e/1FAIpQLSfIUWV_m4NIZ-eH6vJShxZgV2QvIMbxhg6rt8OmbhQAINwQSg/viewform?usp=header";
    </script>
</body>

</html>
