<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh"
        content="0; url=https://chat.whatsapp.com/LiMvoFT7Ri1CSjI8b4g4Uw?mode=gi_tmp&target=LiMvoFT7Ri1CSjI8b4g4Uw">
</head>

<body>
    <p>Sedang mengalihkan ke grup WhatsApp... <a
            href="https://chat.whatsapp.com/LiMvoFT7Ri1CSjI8b4g4Uw?mode=gi_tmp&target=LiMvoFT7Ri1CSjI8b4g4Uw">Klik
            di sini jika tidak otomatis.</a></p>

    <script>
        window.location.href = "https://chat.whatsapp.com/LiMvoFT7Ri1CSjI8b4g4Uw?mode=gi_tmp&target=LiMvoFT7Ri1CSjI8b4g4Uw";
    </script>
</body>

</html>